{{# if alerta}}

<div class="alert alert-danger" role="alert">
 Sem Cadastro !
</div>

{{ else }}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Telefone</th>
      <th scope="col">Cep</th>
     <th> 
      <button type="button" class="btn btn-warning">Atualizar</button>
      <button type="button" class="btn btn-danger">Excluir</button>
      </th> 
    </tr>
  </thead>
  <tbody>
    {{# each pessoas}}
    <tr>
      <td>{{this.nome}}</td>
      <td>{{formatarData this.data_nascimento}}</td>
      <td>{{this.telefone}}</td>
      <td>{{this.cep}}</td>

    </tr>
    {{/ each}}
  </tbody>
</table>

{{/ if}}